<p style="color: green"><%= notice %></p>

<% content_for :title, "Setors" %>

<h1>Setors</h1>

<div id="setors">
  <% @setors.each do |setor| %>
    <%= render setor %>
    <p>
      <%= link_to "Mostrar informacoes desse setor", setor %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Setor", new_setor_path %>
