<div id="<%= dom_id(visita) %>">

          <p>
            <strong>Visitante:</strong>
            <%= visita.visitante.nome %>
          </p>
          <p>
            <strong>Funcionário :</strong>
            <%= visita.user&.nome %>
          </p>
          <p>
            <strong>Status :</strong>
            <%= visita.status %>
          </p>


    <!-- Repeat the above div for each visita -->
  </div>
