<% content_for :title, "Editing visita" %>

<h1>Editing visita</h1>

<%= render "form", visita: @visita %>

<br>

<div>
  <%= link_to "Show this visita", @visita %> |
  <%= link_to "Back to visitas", visitas_path %>
</div>
