<%= turbo_frame_tag "modal" do %>

<h1>Novo visitante</h1>

<%= render "form", visitante: @visitante %>

<br>

<div>
  <%= link_to "Back to visitantes", visitantes_path %><br>
  <%= link_to "Retornar ao Menu ", root_path %>

</div>
<% end %>
