<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>
  <p>
    <strong>Unidade:</strong>
    <%= funcionario.unidade.nome %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= funcionario.setor.nome %>
  </p>


</div>
